html {
  background: #f3f4f6;
  color: #0a0a0b;
}

html.dark {
  background-color: #0a0a0b;
  color: #e5e7eb;
}

.dark #separator {
  background-color: #ab4b08;
}

#separator {
  background-color: #d0d2d8;
}

.dark #color-secondary {
  color: #a3a2a2;
}

#color-secondary {
  color: #282728;
}

.post code {
  @apply rounded-sm px-1 py-[2px] text-[#ab4b08] font-bold;
}
