---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import formatDate from "../util/formatDate";
import Calendar from "@/icons/calendar.astro";
import { filterAndSortPosts } from "@/util/sortPost";

const posts = await getCollection("posts");
---

<Layout title="Publicaciones">
  <main class="flex-1 py-6">
    <div>
      {
        filterAndSortPosts(posts).map((post) => (
          <a href={`/post/${post.slug}`}>
            <article class="mb-8 transition duration-300 ease-in-out hover:text-[#ab4b08]">
              <div
                id="border"
                class="flex flex-col gap-y-2 border-[1px] rounded-xl p-5"
              >
                <h2 class="font-outfit font-bold md:text-3xl text-xl">
                  {post.data.title}
                </h2>
                <div class="flex items-center gap-2 py-3">
                  <Calendar />
                  <span id="color-secondary" class="font-outfit text-sm">
                    {formatDate(post.data.publishedAt, "es", {
                      dateStyle: "long",
                    })}
                  </span>
                </div>
                <span id="color-secondary" class="line-clamp-2 font-outfit">
                  {post.data.description}
                </span>
              </div>
            </article>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
