---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import ListPosts from "../components/ListPosts.astro";
import SkillsList from "../components/SkillsList.astro";
import LinkedIn from "@/icons/linkedin.astro";
import Github from "@/icons/github.astro";
---

<Layout title="Inicio">
  <main class="py-6 flex-1">
    <section>
      <h1 class="font-outfit font-bold text-[30px]">
        Hola, soy Marcelo Domínguez👋
      </h1>
      <p
        id="color-secondary"
        class="mb-5 mt-3 font-outfit text-[16px] lg:max-w-[85%]"
      >
        Soy un desarrollador de software de Argentina con más de 2 años de
        experiencia. Actualmente, estoy trabajando con tecnologías como <span
          class="text-[#ab4b08] font-bold"
          >React Native, JavaScript, React, Tailwind CSS</span
        > y <span class="text-[#ab4b08] font-bold">TypeScript</span> para el Frontend,
        y <span class="text-[#ab4b08] font-bold">Node</span> y <span
          class="text-[#ab4b08] font-bold">Express</span
        > para el Backend.
      </p>
    </section>
    <section class="pb-5 pt-2">
      <div class="flex gap-2">
        <Button link="https://www.linkedin.com/in/marcelo-dominguez-351570194/">
          <LinkedIn />
          LinkedIn
        </Button>
        <Button link="https://github.com/MarceeloDominguez">
          <Github />
          Github
        </Button>
      </div>
    </section>
    <ListPosts />
    <SkillsList />
  </main>
</Layout>

<style>
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }

  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }

  .button svg path {
    transition: 400ms;
  }

  .button:hover {
    background-color: transparent;
  }

  .button:hover .text {
    color: #181717;
  }

  .button:hover svg path {
    fill: #181717;
  }
</style>
