---
interface Props {
  link: string;
}

const { link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex gap-1 font-bold text-sm py-2 px-4 rounded border hover:border-gray-500 transition duration-300 ease-in-out"
  id="border"
>
  <slot name="before" />
  <slot>Button</slot>
  <slot name="after" />
</a>
