---
import ThemeIcon from "./ThemeIcon.astro";

const email = "marceelodominguez@gmail.com";
const name = "Marcelo Dominguez";
---

<header>
  <nav class="flex justify-between items-center gap-4 py-8">
    <a
      href={`mailto:${email}`}
      title={`Enviar un correo electrónico a ${name} al correo ${email}`}
      target="_blank"
      rel="noopener noreferrer"
      class="flex gap-1 font-outfit font-semibold transition duration-300 ease-in-out hover:text-[#ab4b08] truncate"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      >
      <span class="truncate">Marcelo Domínguez</span>
    </a>

    <ul class="flex items-center gap-4 font-outfit font-semibold">
      <li>
        <a
          href="/"
          class="transition duration-300 ease-in-out hover:text-[#ab4b08]"
          >Inicio
        </a>
      </li>
      <li>
        <a
          href="blog"
          class="transition duration-300 ease-in-out hover:text-[#ab4b08]"
          >Blog</a
        >
      </li>
      <ThemeIcon />
    </ul>
  </nav>
  <div class="h-[1px]" id="separator"></div>
</header>
