---
import Post from "../components/Post.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<section class="mt-14">
  <div class="flex justify-between items-center font-outfit">
    <h2 class="font-outfit">Últimas publicaciones</h2>
    <a
      href="posts"
      class="transition duration-300 ease-in-out hover:text-[#ab4b08] text-sm"
      >Ver más</a
    >
  </div>
  <div class="grid md:grid-cols-2 gap-5 mt-4">
    {
      posts.map(
        (post) =>
          post.data.publish && (
            <div class="flex-1 p-4 hover:shadow-lg hover:shadow-gray-500/10 border-[1px] border-gray-900 transition duration-300 ease-in-out rounded-md">
              <Post
                title={post.data.title}
                description={post.data.description}
                slug={post.slug}
                publishedAt={post.data.publishedAt}
              />
            </div>
          )
      )
    }
  </div>
</section>
