---
import Post from "../components/Post.astro";
import { getCollection } from "astro:content";
import { filterAndSortPosts } from "@/util/sortPost";

const posts = await getCollection("posts");
---

<section class="py-4 lg:mt-12 mt-8">
  <div class="flex justify-between items-center font-outfit">
    <h2 class="font-outfit">Últimas publicaciones</h2>
    <a
      href="blog"
      class="transition duration-300 ease-in-out hover:text-[#ab4b08] text-sm"
      >Ver más</a
    >
  </div>
  <div class="grid md:grid-cols-2 gap-5 mt-4">
    {
      filterAndSortPosts(posts)
        .slice(0, 2)
        .map((post) => (
          <div
            id="border"
            class="flex-1 p-4 hover:shadow-lg hover:shadow-gray-500/10 border-[1px] transition duration-300 ease-in-out rounded-md"
          >
            <Post
              title={post.data.title}
              description={post.data.description}
              slug={post.slug}
              publishedAt={post.data.publishedAt}
            />
          </div>
        ))
    }
  </div>
</section>
