---
import formatDate from "../util/formatDate";
import Calendar from "../icons/calendar.astro";

type Props = {
  title: string;
  description: string;
  slug: string;
  publishedAt: Date;
};

const { title, description, slug, publishedAt } = Astro.props;
---

<a href={`/post/${slug}`}>
  <div class="flex h-full flex-col justify-between gap-y-4">
    <div>
      <h2 class="font-outfit font-bold line-clamp-1 text-lg">{title}</h2>
      <p id="color-secondary" class="font-outfit line-clamp-2 mt-1 text-[16px]">
        {description}
      </p>
    </div>
    <div class="flex items-center gap-2 justify-end">
      <Calendar />
      <span id="color-secondary" class="font-outfit text-sm"
        >{formatDate(publishedAt, "es", { dateStyle: "long" })}</span
      >
    </div>
  </div>
</a>
