<div
  class="prose-lg prose-p:text-[16px] prose-p:font-outfit prose-strong:text-[15px] prose-strong:font-outfit prose-h4:text-[15px] prose-h4:font-outfit prose-h4:mb-2 prose-h1:font-outfit prose-h1:text-[#ab4b08] prose-h1:font-bold"
>
  <slot />
</div>
